[submodule "leaflet-velocity"]
	path = leaflet-velocity
	url = git@github.com:douglaskchen/leaflet-velocity.git
[submodule "opensky-api"]
	path = opensky-api
	url = git@github.com:douglaskchen/opensky-api.git
